<!DOCTYPE html>
<html>
<head>
  <title>ShoppingModule</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--<style>
    #register{
      display:inline-block;
      float:right;
      margin-right:20px;
    }
    nav{
      display:block;
    }
    li{
      display:inline-block;
      list-style-type:none;
    }
    a{
      text-decoration:none;
      padding:5px;
      color:red;
    }
    a:hover{
      color:blue;
    }
  </style>-->
</head>
<body>
    <div id="main-container" class="container-fluid">
      <div class="row">
        <div id="sidebar" class="col-xs-0 center-block">
          <!-- sidebar content -->
          <nav class="navbar navbar-default" role="navigation">
            <span> <a class="navbar-brand" href='http://localhost:3000/login'>Login</a> </span>
            <span> <a class="navbar-brand" href='http://localhost:3000/items'>Items</a> </span>
            <span> <a class="navbar-brand" href='http://localhost:3000/register'>Register</a> <span>
          </nav>
        </div>
          <div id="content" class="col-xs-8">
          <!-- main content -->
          <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
